{% macro renderMessages(messages) %}
	{% if messages %}
		{% import _self as Self %}
		{% if debug %}
			<pre>{{ dump(messages) }}</pre>
		{% endif %}
		<div id="flash-messages" class="container">
			{% for message in messages.info %}
				{{ Self.renderMessage(message, "info") }}
			{% endfor %}
			{% for message in messages.success %}
				{{ Self.renderMessage(message, "success") }}
			{% endfor %}
			{% for message in messages.warning %}
				{{ Self.renderMessage(message, "warning") }}
			{% endfor %}
			{% for message in messages.error %}
				{{ Self.renderMessage(message, "danger") }}
			{% endfor %}
		</div>
	{% endif %}
{% endmacro %}

{% macro renderMessage(message, type) %}
	<div class="alert alert-{{ type }}">
		{% if message is iterable %}
			{% if message.title %}
				<h4>{{ message.title }}</h4>
			{% endif %}
			{% if message.detail %}
				<p>{{ message.detail }}</p>
			{% endif %}
			{% if message.list %}
				<ul>
					{% for item in message.list %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			{{ message }}
		{% endif %}
	</div>
{% endmacro %}